{% extends "page-base.html" %}

{% load static %}
{% block extra_head %}
<meta property="og:title" content="{{ data.name }} | links.dev "/>
<meta name="description" content="{{ data.name }} | all links in one simple page"/>
<meta property="og:description" content="{{ data.name }} | all links in one simple page"/>
<meta property="og:url" content="https://links.dev/{{ data.username }}"/>
<meta property="og:image" content="{{ data.image_url }}"/>
<meta property="og:image:secure_url" content="{{ data.image_url }}"/>
<meta property="og:updated_time" content="1668333315000"/>
<meta property="profile:username" content="{{ data.username }}"/>
<meta name="twitter:title" content="{{ data.name }} | links.dev "/>
<meta name="twitter:description" content="{{ data.name }} | all links in one simple page"/>
<meta name="twitter:image" content="{{ data.image_url }}"/>
<link rel="canonical" href="https://links.dev/{{ data.username }}"/>
<meta charset="UTF-8"/>
<meta content="ie=edge" http-equiv="x-ua-compatible"/>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover"
      name="viewport"/>

<meta property="og:image:height" content="150"/>
<meta property="og:image:width" content="150"/>
<meta property="og:image:type" content="image/jpg"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:site_name" content="links.dev"/>
<meta property="og:type" content="profile"/>
<meta content="2419200"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:domain" content="links.dev"/>
<meta name="theme-color" content="#ffffff"/>
<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "WebPage",
        "name": "{{ data.name }} | links.dev",
        "url": "https://links.dev/{{ data.username }}",
        "description": "{{ data.name }} | all links in one simple page",
        "image": "{{ data.image_url }}",
        "identifier": "{{ data.username }}",
        "alternateName": "{{ data.username }} Links.dev Profile",
        "significantLink": "{{ data.links.0.url }}",
        "dateCreated": 1617463926000,
        "dateModified": 1668333315000,
        "isPartOf": "https://links.dev",
        "thumbnailUrl": "{{ data.image_url }}"
    }
</script>


<title>{{ data.name }} | links.dev</title>
<meta name="next-head-count" content="55"/>
<link href="/cdn?path=fatih-yavuz/links.dev/main/user-page/css/reset.css" rel="stylesheet"/>
<link href="/cdn?path=fatih-yavuz/links.dev/main/user-page/css/base.css" rel="stylesheet"/>

<style>
    {{ data.css }}

</style>
{% endblock %}

{% block content %}

{% for font in data.fonts %}
<link href="https://fonts.googleapis.com/css2?family={{ font }}:wght@300;500;600;700&amp;display=swap"
      rel="stylesheet"/>
{% endfor %}
<div class="page-inner-container">
    <div class="ld-custom-background-layer"></div>
    <div class="ld-flex-vertical-center ld-flex-direction-column ld-d-flex">
        <div class="ld-mb-16">
            <img src="{{ data.image_url }}" alt=""
                 role="presentation"
                 class="ld-profile-image"/>
        </div>
        <div class="ld-mlr-12 ld-d-flex ld-flex-center ld-flex-direction-row">
            <h1 class="ld-custom-name">{{ data.name }}</h1>
            {% if data.is_verified %}
            {% include "page/components/verified.html" %}
            {% endif %}
        </div>
        {% if data.description %}
        <div class="ld-description-container ld-custom-description">
            <h2 class='ld-custom-description-h2'>{{ data.description }}</h2>
        </div>
        {% endif %}
    </div>
    <div class="ld-mt-32">
        {% for link in data.links %}
        <div class="ld-pos-rel">
            <div class="ld-top-minus-92"></div>
            <div class="ld-pos-rel">
                <div class="ld-pos-rel">
                    <div class="ld-custom-button-container">
                        <a
                                href="{{ link.url }}"
                                target="_blank"
                                rel="nofollow noopener noreferrer"
                                height="auto"
                                class="ld-button-base ld-custom-button"
                        >
                            {% if link.icon %}
                            <div
                                    class="ld-icon ld-d-flex icon icon-{{ link.icon }}"></div>
                            {% endif %}
                            <p class="ld-link-title ld-hyphens-none ld-pos-rel">{{ link.title }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<footer style="display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 12px;">
    <div class="revision">
        <a style="text-decoration:none" href="/" class="ld-custom-name">links.dev</a>
    </div>
</footer>
{% endblock %}
